@model IEnumerable<travelwhims.Models.TWdatabase.Manager>

@{
    ViewBag.Title = "ViewManager";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["AlertMessage"] != null)
{
    <div class="alert alert-success">
        <strong>Success !</strong>@TempData["AlertMessage"]

    </div>
}
<br />

<h3 class="text-center">View Managers</h3>
<div class="header-container">
    <a href="/Admin/CreateManager" class="btn btn-danger text-light create-button">Create New Manager</a>
    <form action="/Admin/ViewManager" method="post" class="search-box d-flex align-content-end">
        <input class="form-control" type="text" name="searchtext" value="" placeholder="Search Managers" />
        <input class="form-control btn btn-success" type="submit" value="Search" />
    </form>
</div>
<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            UserName
        </th>
        <th>
            Email
        </th>
        <th>
            Phone
        </th>
        <th>
            Action
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.m_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_mail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.m_phone)
            </td>
            <td>
                @Html.ActionLink("Edit", "EditManager", new { id = item.id }, new { @class = "btn btn-success" }) |
              |
                @Html.ActionLink("Delete", "DeleteManager", new { id = item.id }, new { @class = "btn btn-danger" })
            </td>
        </tr>
    }

</table>
